.article
  background: color-white

  .article-header
    @extend $base-style
    h1
      color: color-blue
    padding-bottom: 10px
    margin: 40px 0 20px
    border-bottom: 1px solid color-grey

  .article-body
    @extend $base-style
    h3, h4
      color: color-blue
    p, ul, ol
      margin-bottom: 2rem
      margin-top: 2rem
      font-size: 1.25em
      text-align: justify
    img
      clear: both
      display: block
      margin: 0 auto
      max-width: 100%
      max-height: 100%
    .read-more
      display: inline-block
      float: right
      text-align: right
      padding: 6px 12px
      border: 1px solid #E8E8E8
      border-radius: 4px
      &:hover
        background-color: color-blue-hover
        border-color: color-blue-hover
        color color-white
