.highlight {
  padding: 1.5em;
  margin: 1.5em 0;
  border-radius: 4px;
  overflow-x: auto;
  font-family: font-family-code;
  font-size: 0.95em;
  line-height: 1.6;
  border: 1px solid color-grey;
}

.highlight pre {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.highlight .keyword,
.highlight .tag {
  font-weight: bold;
  color: #0095cc;
}

.highlight .number,
.highlight .string,
.highlight .constant,
.highlight .boolean {
  color: color-code;
}

.highlight .comment {
  color: color-footer-background;
  font-style: italic;
}

.highlight .class .title,
.highlight .title.function_ {
  color: color-footer-background;
  font-weight: bold;
}

.highlight .type,
.highlight .built_in {
  color: color-blue
}

.highlight td.gutter {
  padding-right: 1.5em;
  text-align: right;
  color: color-font-70;
  user-select: none;
  border-right: 1px solid color-grey;
}
.highlight td.code {
  padding-left: 1.5em;
}