#header
    border-bottom: 1px solid #eee
    .header-brand
        font-size: 38px
        font-family: 'Poiret One', cursive
        margin: 8px 0
        color: #0095cc
        text-decoration: none