$base-style
  h1
    font-size: 2.5em
    font-weight: 700;
    margin-bottom: 1rem;
  h2
    font-size: 2.25em
    font-weight: 700;
    margin-bottom: 1rem;
  h3
    font-size: 2em
    font-weight: 700;
    margin-bottom: 1rem;
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
  a
    text-decoration: none
    color: color-blue
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    -o-transition: all 0.2s
    transition: all 0.2s
    &:hover
      color: color-blue-hover
  b, strong
    font-weight: bold
  code
    padding: 2px 4px
    font-size: 90%
    color: color-code
    background-color: color-code-background
    border-radius: 4px
    font-family: font-family-code