// Colors
color-footer-background = #555
color-font = #6B6B6B
color-white = #fff
color-blue = #0095cc
color-blue-hover = #00b1e8
color-code = #c7254e
color-code-background = #f9f2f4

// Fonts
font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
font-family-code = Menlo, Monaco, Consolas, "Courier New", monospace
font-size = 14px
line-height = 1.7