// Colors
color-footer-background = #555
color-font = #6B6B6B
color-white = #fff
color-blue = #0095cc
color-blue-hover = #00b1e8

// Fonts
font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px
line-height = 1.7