<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <i class="fa fa-chevron-left"></i> <%= post.prev.title %>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <%= post.next.title %> <i class="fa fa-chevron-right"></i>
    </a>
  <% } %>
</nav>
<% } %>