<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- css('css/style') %>
  </head>
  <body>
    <%- partial('partial/header') %>
    <%- body %>
    <%- partial('partial/footer') %>
  </body>
</html>