<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- css('css/style') %>
  </head>
  <body>
    <div class="container">
      <%- partial('_partial/header') %>
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>