<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- css('css/style') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpdmOHSUnXTr9q4uCS4AS4wCPQbZG5\+h0UZyM1hU+yVXfsV4FqeGq/0w2nP+hyTNc/zHWhNCA8k+z3V//SA/" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- partial('_partial/header') %>
    <div class="container">
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>